@import './config.scss';
@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Spirax');

html {
  font-size: 23px;
  font-family: $font-primary;
  color: $color-foreground;
  background: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:hover, a:active, a:focus {
  text-decoration: inherit;
  color: $color-primary;
}

input, button, textarea {
  font-family: inherit;
  display: block;
  color: currentColor;
  border-radius: 5px;
}

input:not([type]), input[type='text'], input[type='password'], textarea {
  border: 1px $color-border solid;
  padding: 0.5rem;

  &:focus {
    outline: 0;
    border-color: $color-secondary;
  }
}

input[type='submit'], button {
  border: 1px $color-border solid;
  color: $color-background;
  padding: 0.5rem 1rem;
  background: $color-primary;
}
