$color-primary: #274156;
$color-secondary: #2eb5e6;

$color-foreground: #32303d;
$color-background: #FBFCFF;

$color-border: #656565;

$font-primary: 'Markazi Text', serif;
$font-secondary: 'Spirax', cursive;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;


// Header
$header-height: 3rem;

// Sidebar
$sidebar-width: 12rem;
